<%= form_for(@property, :html => { :multipart => true, :class => 'custom'  }) do |f| %>
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% @property.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='property-address property-section-box'>
    <h5 class='sub-title'>Property Address</h5>
    <div class='address-details'>
      <%= f.fields_for :address do |address| %>
        <div class='field marginr-50'>
          <%= address.label :address %>
          <%= address.text_area :address %>
        </div>
        <div class='clearfix'>
          <div class="float-left field">
            <%= address.label :city %>
            <%= address.text_field :city%>
          </div>
          <div class="float-left field marginl-50">
            <%= address.label :area, 'Area / Landmark' %>
            <%= address.text_field :area %>
          </div>
        </div>
        <div class='clearfix'>
          <div class="float-left field">
            <%= address.label :state %>
            <%= address.text_field :state %>
          </div>
          <div class="float-left field marginl-50">  
            <%=address.label :pincode %>
            <%= address.text_field :pincode %>
          </div>
        </div>
      <% end %>
      <div class='clearfix'> </div>
    </div>
  </div>
  <div class='property-section-box'>
    <h5 class='sub-title'>Property Details</h5>
    <div class="field">
      <%= f.label :title, 'Listing Title' %>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
    <% if File.exists?(File.join(File.dirname(__FILE__), "_#{params[:type].underscore}_options.html.erb")) %>
      <%= render "#{params[:type].underscore}_options", :f => f %>
    <% else %>
      <div class="field">
        <%= f.label :dimensions %>
        <%= f.text_field :dimensions %>
      </div>
      <div class="field">
        <%= f.label :dimensions_unit, 'Unit' %>
        <%= f.text_field :dimensions_unit %>
      </div>
    <% end %>
    <div class="field">
      <%= f.label :price %>
      <%= f.text_field :price %>
    </div>
    <%= f.fields_for :image do |image| %>
      <div class='field'>
        <%= image.label :image %>
        <%= image.file_field :image %>
      </div>
    <% end %>
    <div class="field">
      <%= f.label :amenity_list, 'Amenities (Seperated by commas)' %>
      <%= f.text_field :amenity_list %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit :class => 'small button' %>
  </div>
<% end %>
