<%= form_tag properties_path, {:method => :get, :name => :q, :class=> 'custom'} do %>
  <div class='pb10'>
    <%= label_tag 'q[type]', 'Property Type' %>
    <%= select_tag 'q[type_eq]', options_for_select([['Apartments', 'Apartment'],['Independent Houses', 'IndependentHouse'], ['Villas', 'Villa']]), :id => 'customDropdown' %>
  </div>
  <%= label_tag 'q[address_city_eq]', 'City' %>
  <%= text_field_tag 'q[address_city_eq]' %>
  <%= label_tag 'q[title_cont]', 'Title' %>
  <%= text_field_tag 'q[title_cont]' %>
  <%= label_tag 'q[created_at_gteq]', 'Posted From' %>
  <%= text_field_tag 'q[created_at_gteq]' %>
  <%= label_tag 'q[created_at_lteq]', 'Posted To' %>
  <%= text_field_tag 'q[created_at_lteq]' %>
  <%= submit_tag 'Search', :class => 'small button' %>
<% end %>