<div id='property-index'>
  <div class='row'>
    <div class='large-2 columns'>
      <div class='property-gallery' style='border: 1px solid #4d4d4d; width:100% !important;'>
        <h6>Property Gallery</h6>
      </div>
    </div>
    <div class='large-10 columns'>
      <div class='property-list'>
        <h4><%= "Listing #{((params[:q] && params[:q][:type_eq])|| params[:type]).underscore.titlecase} Properties" %></h4>
        <%= paginate @properties %>
        <% @properties.each do |property| %>
          <div class='property-listing-large property-listing'>
            <div class='float-left photo col'>
              <%= image_tag (property.image.present? ? property.image.image.url(:thumb) : 'no_image.jpg') %>
            </div>
            <div class='float-left property-info col'>
              <dl class='float-left col main-data'>
                <dt class='code'>Code: <%= property.code %></dt>
                <dt class='property-type'><%= property.type.titlecase %></dt>
                <dt class='area'><%= property.dimensions %></dt>
                <dt class='price'><%= property.price.format %></dt>
              </dl>
              <dl class='float-left data'>
                <dt class='code'><%= property.title %></dt>
                <p><%= truncate property.description, :length => 150 %></p>
                <dt><%= link_to 'Show Details', eval("#{property.type.underscore}_path(property)"), :class => 'small button' %></dt>
              </dl>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>